        <div class="back-home"></div>
      </section><!-- /posts -->
      <nav class="offset1 span2">
          <h3>Facets of me</h3>
          <ul>
            <li><a  href="https://www.datadoghq.com/"
                    title="Workplace of awesome">Datadog</a></li>
            <li><a  href="projects.html"
                    title="Projects that I work on in my spare time">Projects</a></li>
            <li><a  href="https://github.com/clofresh"
                    title="Various code tinkerings"
                    rel="me">Github</a></li>
            <li><a  href="https://twitter.com/clofresh"
                    title="Programming-related pith &amp; wit"
                    rel="me">Twitter</a></li>
            <li><a  href="https://www.facebook.com/clofresh"
                    title="Life &amp; pop culture &amp; stalking"
                    rel="me">Facebook</a></li>
            <li><a  href="https://clofresh.tumblr.com/"
                    title="Digital scrapbook of awesome"
                    rel="me">Tumblr</a></li>
        </ul>
      </nav><!-- /nav -->
    </div><!-- /content -->

    <hr />
    <footer class="footer">
      <p class="license">
        &copy; 2018 Carlo Cabanilla
        <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
      </p>
    </footer>
  </body>

</html>
