<article id="tome-of-dunwich">
  <h2>
    <a name="tome-of-dunwich" class="permalink icon-bookmark" href="#tome-of-dunwich">&nbsp;</a> 
    <span class="title">Tome of Dunwich</span>
  </h2>
  <div class="body">
    <p>Dunwich the pig must eat all the pages of a spell from the Necronomicon in order to prevent the Great Old Ones from awaking from their slumber and devouring the world. Art by <a href="http://mattmoores.com/">Matt Moores</a>.</p>
    <a href="img/projects/tome-of-dunwich.png"><img src="img/projects/tome-of-dunwich.640.png"></a>
  </div>
</article>

<article id="tentacles">
  <h2>
    <a name="tentacles" class="permalink icon-bookmark" href="#tentacles">&nbsp;</a> 
    <span class="title">Tentacles</span>
  </h2>
  <div class="body">
    <p>Your home land has been invaded by tentacle monsters and you must find a way to seal them away forever. <a href="https://github.com/clofresh/tentacles">Source</a>.</p>

    <a href="img/projects/tentacles-prototype.png"><img src="img/projects/tentacles-prototype.640.png"></a>
    <p>Early prototype using <a href="http://lpc.opengameart.org/">stock art</a> and placeholder shape images</p>

    <a href="img/projects/tentacles-polished.png"><img src="img/projects/tentacles-polished.640.png"></a>
    <p>More polished version using hand-painted watercolor art by <a href="http://mattmoores.com/">Matt Moores</a>.</p>

    <a href="img/projects/tentacles-polished-night.png"><img src="img/projects/tentacles-polished-night.640.png"></a>
    <p>Added day/night cycles using shader lighting.</p>

    <a href="img/projects/tentacles-polished-died.png"><img src="img/projects/tentacles-polished-died.640.png"></a>
    <p>Dead!</p>

  </div>
</article>

<article id="kingdom">
  <h2>
    <a name="kingdom" class="permalink icon-bookmark" href="#kingdom">&nbsp;</a> 
    <span class="title">A Kingdom Divided</span>
  </h2>
  <div class="body">
    <p>Real-time fantasy tactics game, design by Patrick Cabanilla. <a href="https://github.com/clofresh/kingdom">Source</a>.</p>

    <a href="img/projects/kingdom-overworld.png"><img src="img/projects/kingdom-overworld.640.png"></a>
    <p>Overworld map. Tileset from <a href="http://opengameart.org/content/worldmapoverworld-tileset">Open Game Art</a>, character art by me.</p>

    <a href="img/projects/kingdom-battle.png"><img src="img/projects/kingdom-battle.640.png"></a>
    <p>Once characters meet in the overworld, zoom into a real-time battle scene, similar to Ancient Art of War.</p>

  </div>
</article>

<article id="freestars">
  <h2>
    <a name="freestars" class="permalink icon-bookmark" href="#freestars">&nbsp;</a> 
    <span class="title">FreeStars</span>
  </h2>
  <div class="body">
    <p>Asteroids clone. <a href="https://github.com/clofresh/freestars">Source</a>.</p>
    <a href="img/projects/freestars.png"><img src="img/projects/freestars.640.png"></a>
  </div>
</article>

<article id="crashblocks">
  <h2>
    <a name="crashblocks" class="permalink icon-bookmark" href="#crashblocks">&nbsp;</a> 
    <span class="title">Crash Blocks</span>
  </h2>
  <div class="body">
    <p>Puzzle Fighter clone. <a href="https://github.com/clofresh/crashblocks">Source</a>.</p>
    <a href="img/projects/crashblocks.png"><img src="img/projects/crashblocks.png"></a>
  </div>
</article>

<article id="nadira">
  <h2>
    <a name="nadira" class="permalink icon-bookmark" href="#nadira">&nbsp;</a> 
    <span class="title">Nadira Story</span>
  </h2>
  <div class="body">
    <p>In the dusk of the Golden Age of heroes, Nadira has just graduated from The Naturalist Academy and is returning home to investigate the increasingly abundant and aggressive slime population. <a href="https://github.com/clofresh/nadira-story">Source</a>.</p>
    <a href="img/projects/nadira-topdown.png"><img src="img/projects/nadira-topdown.640.png"></a>
    <a href="img/projects/nadira-sidescrolling.png"><img src="img/projects/nadira-sidescrolling.640.png"></a>
  </div>
</article>

<article id="emergent">
  <h2>
    <a name="emergent" class="permalink icon-bookmark" href="#emergent">&nbsp;</a> 
    <span class="title">Emergent</span>
  </h2>
  <div class="body">
    <p>An attempt at creating emergent behavior. <a href="https://github.com/clofresh/emergent">Source</a>.</p>
    <a href="img/projects/emergent.png"><img src="img/projects/emergent.640.png"></a>
  </div>
</article>
