      </section><!-- /posts -->

      <nav class="offset1 span2">
        <ul class="nav nav-list">
          <li class="nav-header">Facets of me</li>
            <li><a  href="http://www.datadoghq.com/"
                    title="Workplace of awesome">Datadog</a></li>
            <li><a  href="https://github.com/clofresh" 
                    title="Various code tinkerings"
                    rel="me">Github</a></li>
            <li><a  href="https://twitter.com/clofresh" 
                    title="Programming-related pith &amp; wit"
                    rel="me">Twitter</a></li>
            <li><a  href="https://www.facebook.com/clofresh" 
                    title="Life &amp; pop culture &amp; stalking"
                    rel="me">Facebook</a></li>
            <li><a  href="http://clofresh.tumblr.com/" 
                    title="Digital scrapbook of awesome"
                    rel="me">Tumblr</a></li>
        </ul>
      </nav><!-- /nav -->
    </div><!-- /content -->

    <hr />
    <footer class="footer">
      <p class="license">
        &copy; 2012 Carlo Cabanilla
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
      </p>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

  </body>

</html>