	<article id="post-<%= post_id %>">
	  <h2>
	  	<a name="post-<%= post_id %>" class="permalink icon-bookmark" href="<%= post_path %>">&nbsp;</a> 
	  	<span class="title">TITLE</span>
	  	<small class="date"><%= date %></smal>
	  </h2>
	  <div class="body">
	  BODY
	  </div>
	</article>
