<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Syntactic Bay Leaves</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Carlo Cabanilla">
    <meta property="og:site_name" content="Syntactic Bay Leaves" />

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>
      body * {
        font-family: 'Balthazar', sans-serif;
      }
      code, pre {
        font-family: 'Inconsolata', monospace;
      }
      p {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 12px;
      }
      header h1 a {
        color: black;
      }
      footer .license {
        display: block;
        vertical-align: top;
      }
      article .permalink {
        position: relative;
        top: 5px;
        left: 4px;
        margin-left: -25px;
      }
      .posts article {
        margin-bottom: 28px;
        border-bottom: 1px solid #eee;
      }
      .posts article .cover {
        height: 120px;
        margin-bottom:8px;
        overflow-y: hidden;
      }
      .posts article h2 {
        line-height: 18px;
        margin-bottom: 8px;
      }
      .posts article h2 .date {
        white-space: nowrap;
      }
      header img.feed {
        width: 14px;
        height: 14px;
      }
    </style>
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">

    <link rel="alternate" type="application/rss+xml" title="Syntactic Bay Leaves RSS 2.0" href="http://feeds.feedburner.com/syntacticbayleaves/fshk" />

    <!-- For IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="img/favicon.ico">
    <!--
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->
    <link href='http://fonts.googleapis.com/css?family=Balthazar|Inconsolata' rel='stylesheet' type='text/css'>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4116300-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body class="container">
    <header class="page-header">
      <h1><a href="/">Syntactic Bay Leaves</a>
        <small>Pungent programming, and other topics of note</small>
        <a href="http://feeds.feedburner.com/syntacticbayleaves/fshk"><img class="feed" src="img/feed-icon.svg" rel="alternate" type="application/rss+xml" /></a>    
      </h1>

    </header>

    <div class="row content">
      <section class="offset1 span8 posts">
        <%= content %>
        <div class="back-home"></div>
      </section><!-- /posts -->
      <nav class="offset1 span2">
        <ul class="nav nav-list">
          <li class="nav-header">Facets of me</li>
            <li><a  href="http://www.datadoghq.com/"
                    title="Workplace of awesome">Datadog</a></li>
            <li><a  href="https://github.com/clofresh" 
                    title="Various code tinkerings"
                    rel="me">Github</a></li>
            <li><a  href="https://twitter.com/clofresh" 
                    title="Programming-related pith &amp; wit"
                    rel="me">Twitter</a></li>
            <li><a  href="https://www.facebook.com/clofresh" 
                    title="Life &amp; pop culture &amp; stalking"
                    rel="me">Facebook</a></li>
            <li><a  href="http://clofresh.tumblr.com/" 
                    title="Digital scrapbook of awesome"
                    rel="me">Tumblr</a></li>
        </ul>
      </nav><!-- /nav -->
    </div><!-- /content -->

    <hr />
    <footer class="footer">
      <p class="license">
        &copy; 2012 Carlo Cabanilla
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
      </p>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function() {
        if (window.location.pathname !== "/") {
          $('.back-home').html('<a href="/" title="There\'s more bloggliness where that came from."><i class="icon-arrow-left"></i> Go back home</a>')
        }
      })
    </script>

  </body>

</html>
