body, p {
  font-family: 'Balthazar', sans-serif;
  font-size: 20px;
}
code[class*="language-"],
pre[class*="language-"],
code, pre, blockquote {
  font-family: 'Inconsolata', monospace;
  font-size: 90%;
  line-height: 1;
}

p {
  line-height: 26px;
  margin-bottom: 12px;
}
header h1 a {
  font-family: 'Balthazar', sans-serif;
  color: black;
}
footer .license {
  display: block;
  vertical-align: top;
}
article .permalink {
  position: relative;
  top: 5px;
  left: 4px;
  margin-left: -25px;
}
.posts article {
  margin-bottom: 28px;
  border-bottom: 1px solid #eee;
}
.posts article .cover {
  height: 120px;
  margin-bottom:8px;
  overflow-y: hidden;
}
.posts article h2 {
  line-height: 18px;
  margin-bottom: 8px;
}
.posts article h2 .date {
  white-space: nowrap;
}
header img.feed {
  width: 14px;
  height: 14px;
}
.text-center {
  text-align: center;
}

